<div class="row">
  <div class="col-sm-8">  
    <% if @communities.size > 0 %>
      <% @communities.each do |community| %>
        <div class="card mb-2 px-2">
          <%= link_to community.name, community %>
          <%= simple_format community.rules %>
        </div>
      <% end %>
    <% else %>
      <p>No Communities to display.</p>
    <% end %>
  </div>
  <div class="col-sm-4">
    <% if account_signed_in? %>
      <%= link_to "Create New Community", new_community_path(@community), class: "btn btn-outline-primary" %>
    <% end %>
  </div>
</div>