<div class="row">
  <div class="col-sm-8">  
    <% @communities.each do |community| %>
      <div class="card mb-2 px-2">
        <%= link_to community.name, community %>
        <%= simple_format community.rules %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-4">
    <%= link_to "Create New Community", new_community_path(@community), class: "btn btn-outline-primary" %>
  </div>
</div>